<div class="footer">
  <h6>
    Developed by <a href="https://discordapp.com/users/586822327568695317" target="_blank">Gweep Creative</a>
    with <i class="fas fa-heart" style="color: red"></i> and
    <i class="fas fa-coffee" style="color: #6f4e37"></i>
  </h6>
</div>